
body {
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
    font-size: 16px;
    line-height: 1.5;
  }
  * {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  a {
    transition: 0.3s;
  }
  a:hover {
    opacity: 0.2;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .page-header,
  .page-hero,
  .page-content,
  .page-footer {
    min-width: 1080px;
    width: 100%;
  }
  .page-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #fff;
  }
  .logo{
    display: flex;
  }
  .menu-list_item{
    margin-right: ;
  }
  .page-header__inner,
  .page-content__inner {
    box-sizing: content-box;
  }
  .page-header__inner {
    max-width: 920px;
    padding: 0 316px;
  }
  .page-header .logo,
  .page-footer .logo {
    width: 256px;
  }
  .page-header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .global-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .global-nav > .sns-list {
    margin-left: 12px;
  }
  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
